
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.monitoring-controlling-NeB {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 2rem;
}
.monitoring-controlling-NeB .auto-group-imrf-hAf {
  box-sizing: border-box;
  padding: 1rem 0.8rem 2.257rem 0.8rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.monitoring-controlling-NeB .auto-group-imrf-hAf .group-36722-bmq {
  margin-bottom: 0.9rem;
  width: 100%;
  height: 1.6rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.monitoring-controlling-NeB .auto-group-imrf-hAf .group-36722-bmq .item-11-07-LUX {
  margin-right: 25.7rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #333333;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.monitoring-controlling-NeB .auto-group-imrf-hAf .group-36722-bmq .icons-49d {
  box-sizing: border-box;
  padding: 0.1rem 0.433rem 0.167rem 0rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.monitoring-controlling-NeB .auto-group-imrf-hAf .group-36722-bmq .icons-49d .wi-fi-a7y {
  margin-right: 0.5rem;
  width: 1.6rem;
  height: 1.1333rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.monitoring-controlling-NeB .auto-group-imrf-hAf .group-36722-bmq .icons-49d .reception-uvw {
  margin-right: 1.0667rem;
  width: 1.3333rem;
  height: 1.3333rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.monitoring-controlling-NeB .auto-group-imrf-hAf .group-36722-bmq .icons-49d .battery-Fju {
  width: 0.6667rem;
  height: 1.3333rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.monitoring-controlling-NeB .auto-group-imrf-hAf .edit-profile-nUw {
  margin: 0rem 0.9rem 2.4rem 0rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 0.875227356;
  color: #000000;
  font-family: Google Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.monitoring-controlling-NeB .auto-group-imrf-hAf .group-2-HwV {
  margin: 0rem 12.786rem 0rem 12.9rem;
  width: calc(100% - 25.6859rem);
  height: 8.943rem;
  position: relative;
  flex-shrink: 0;
}
.monitoring-controlling-NeB .auto-group-imrf-hAf .group-2-HwV .ellipse-2-cis {
  width: 8.433rem;
  height: 8.6545rem;
  position: absolute;
  left: 0.1687rem;
  top: 0.1154rem;
  object-fit: contain;
  vertical-align: top;
}
.monitoring-controlling-NeB .auto-group-imrf-hAf .group-2-HwV .ellipse-3-Les {
  width: 8.7141rem;
  height: 8.943rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.monitoring-controlling-NeB .auto-group-imrf-hAf .group-2-HwV .solar-camera-minimalistic-bold-HKD {
  width: 1.3552rem;
  height: 1.2197rem;
  position: absolute;
  left: 6.6405rem;
  top: 7.3689rem;
  object-fit: contain;
  vertical-align: top;
}
.monitoring-controlling-NeB .auto-group-gqqy-YW3 {
  width: 40.7rem;
  height: 45.1rem;
  position: relative;
  flex-shrink: 0;
}
.monitoring-controlling-NeB .auto-group-gqqy-YW3 .group-36695-5Vy {
  width: 33.7rem;
  height: 39.9rem;
  position: absolute;
  left: 7rem;
  top: 0;
}
.monitoring-controlling-NeB .auto-group-gqqy-YW3 .group-36695-5Vy .input-pCf {
  box-sizing: border-box;
  padding-bottom: 4.2rem;
  width: 33.7rem;
  height: 10.3rem;
  position: absolute;
  left: 0;
  top: 14.8rem;
}
.monitoring-controlling-NeB .auto-group-gqqy-YW3 .group-36695-5Vy .input-pCf .email-9Ew {
  margin-bottom: 0.6rem;
  display: flex;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.25;
  color: #333333;
  font-family: Google Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.monitoring-controlling-NeB .auto-group-gqqy-YW3 .group-36695-5Vy .input-pCf .input-field-GKZ {
  box-sizing: border-box;
  padding: 0.9rem 1.6rem 1.2rem 1.6rem;
  width: 100%;
  display: flex;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.5);
  font-family: Google Sans, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d8dadc;
  background-color: #ffffff;
  border-radius: 1rem;
}
.monitoring-controlling-NeB .auto-group-gqqy-YW3 .group-36695-5Vy .input-UgX {
  box-sizing: border-box;
  padding-bottom: 4.2rem;
  width: 33.7rem;
  height: 10.3rem;
  position: absolute;
  left: 0;
  top: 0;
}
.monitoring-controlling-NeB .auto-group-gqqy-YW3 .group-36695-5Vy .input-UgX .name-cXq {
  margin-bottom: 0.6rem;
  display: flex;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.25;
  color: #333333;
  font-family: Google Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.monitoring-controlling-NeB .auto-group-gqqy-YW3 .group-36695-5Vy .input-UgX .input-field-kP9 {
  box-sizing: border-box;
  padding: 0.9rem 1.6rem 1.2rem 1.6rem;
  width: 100%;
  display: flex;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.5);
  font-family: Google Sans, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d8dadc;
  background-color: #ffffff;
  border-radius: 1rem;
}
.monitoring-controlling-NeB .auto-group-gqqy-YW3 .group-36695-5Vy .input-2rT {
  box-sizing: border-box;
  padding-bottom: 4.2rem;
  width: 33.7rem;
  height: 10.3rem;
  position: absolute;
  left: 0;
  top: 7.4rem;
}
.monitoring-controlling-NeB .auto-group-gqqy-YW3 .group-36695-5Vy .input-2rT .location-N9d {
  margin-bottom: 0.6rem;
  display: flex;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.25;
  color: #333333;
  font-family: Google Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.monitoring-controlling-NeB .auto-group-gqqy-YW3 .group-36695-5Vy .input-2rT .input-field-uQT {
  box-sizing: border-box;
  padding: 0.9rem 1.6rem 1.2rem 1.6rem;
  width: 100%;
  display: flex;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.5);
  font-family: Google Sans, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d8dadc;
  background-color: #ffffff;
  border-radius: 1rem;
}
.monitoring-controlling-NeB .auto-group-gqqy-YW3 .group-36695-5Vy .input-Zzo {
  box-sizing: border-box;
  padding-bottom: 4.4rem;
  width: 22rem;
  height: 10.3rem;
  position: absolute;
  left: 0;
  top: 22.2rem;
}
.monitoring-controlling-NeB .auto-group-gqqy-YW3 .group-36695-5Vy .input-Zzo .change-password-uYs {
  margin-bottom: 0.6rem;
  display: flex;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.25;
  color: #333333;
  font-family: Google Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.monitoring-controlling-NeB .auto-group-gqqy-YW3 .group-36695-5Vy .input-Zzo .input-field-pA3 {
  box-sizing: border-box;
  padding: 0.9rem 1.72rem 1rem 1.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #d8dadc;
  background-color: #ffffff;
  border-radius: 1rem;
}
.monitoring-controlling-NeB .auto-group-gqqy-YW3 .group-36695-5Vy .input-Zzo .input-field-pA3 .must-be-8-characters-x1M {
  margin-right: 4.56rem;
  display: flex;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.monitoring-controlling-NeB .auto-group-gqqy-YW3 .group-36695-5Vy .input-Zzo .input-field-pA3 .icon-QAB {
  margin-top: 0.04rem;
  width: 1.02rem;
  height: 0.78rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.monitoring-controlling-NeB .auto-group-gqqy-YW3 .group-36695-5Vy .input-uMq {
  box-sizing: border-box;
  padding-bottom: 4.4rem;
  width: 22rem;
  height: 10.3rem;
  position: absolute;
  left: 0;
  top: 29.6rem;
}
.monitoring-controlling-NeB .auto-group-gqqy-YW3 .group-36695-5Vy .input-uMq .confirm-password-dHq {
  margin-bottom: 0.6rem;
  display: flex;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.25;
  color: #534c4c;
  font-family: Google Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.monitoring-controlling-NeB .auto-group-gqqy-YW3 .group-36695-5Vy .input-uMq .input-field-xb1 {
  box-sizing: border-box;
  padding: 0.9rem 1.72rem 1rem 1.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #d8dadc;
  background-color: #ffffff;
  border-radius: 1rem;
}
.monitoring-controlling-NeB .auto-group-gqqy-YW3 .group-36695-5Vy .input-uMq .input-field-xb1 .repeat-password-tjZ {
  margin-right: 7.26rem;
  display: flex;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.monitoring-controlling-NeB .auto-group-gqqy-YW3 .group-36695-5Vy .input-uMq .input-field-xb1 .icon-2Ky {
  margin-top: 0.04rem;
  width: 1.02rem;
  height: 0.78rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.monitoring-controlling-NeB .auto-group-gqqy-YW3 .group-8-YJK {
  width: 12.4rem;
  height: 3.5rem;
  cursor: pointer;
  position: absolute;
  left: 11.8rem;
  top: 37.9rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 0.875227356;
  color: #ffffff;
  font-family: Google Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3873f9;
  border-radius: 1.1rem;
}
.monitoring-controlling-NeB .auto-group-gqqy-YW3 .group-36712-ako {
  width: 36rem;
  height: 5.1rem;
  position: absolute;
  left: 0;
  top: 40rem;
  object-fit: contain;
  vertical-align: top;
}
